/* Utilities  */
p {
  margin: 10px 0;
  font-size: 18px;
}
/* Section header_home */
.section_header_home {
  background-color: #0f9fd9;
}
.header_home {
  display: flex;
  align-items: start;
  background: #0f9fd9;
}
.header_home .box {
  flex: 1;
  background: #0f9fd9;
  color: whitesmoke;
  border-radius: 10px;
  margin: 20px 10px;
  padding: 15px 20px;
  text-align: justify;
  align-items: justify;
  justify-content: center;
}
.header_home .box:nth-of-type(1) {
  flex-grow: 2;
}
.header_home .box:nth-of-type(2) {
  flex-grow: 1;
}
.container_buttons_links_header_home {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.container_buttons_links_header_home a:hover {
  color: #f6fa24;
}
.container_buttons_links_header_home btn {
  width: 100px;
  height: 100px;
  background: #0f9fd9;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* Section developers */
.section_developers {
  background-color: #0f9fd9;
}
.developers {
  display: flex;
  align-items: start;
  background: #0f9fd9;
}
.developers .box {
  flex: 1;
  background: #0f6dd9;
  color: whitesmoke;
  border-radius: 10px;
  margin: 20px 10px;
  padding: 15px 20px;
  text-align: center;
  align-items: center;
  justify-content: center;
}
.developers .box:nth-of-type(1) {
  flex-grow: 4;
}
.developers .box:nth-of-type(2) {
  flex-grow: 4;
}
.developers .box:nth-of-type(3) {
  flex-grow: 4;
}
.developers .box2 {
  flex: 1;
  background: #f3ca99;
  color: whitesmoke;
  border-radius: 10px;
  margin: 20px 10px;
  padding: 15px 20px;
  text-align: center;
  align-items: center;
  justify-content: center;
}
.developers .box2:nth-of-type(1) {
  flex-grow: 4;
}
.developers .box2:nth-of-type(2) {
  flex-grow: 4;
}
.developers .box2:nth-of-type(3) {
  flex-grow: 4;
  background: #f29545;
}
.section_container_buttons_developers {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 0px 0px;
  margin: 0px 0px;
}
.btn_developers {
  padding: 10px 10px;
  margin: 10px 10px 10px 10px;
  color: whitesmoke;
  border-radius: 5px;
  text-decoration: none;
  font-size: 18px;
  background-color: #480bf1a2;
  border: 2px solid rgb(214, 214, 2);
}
.btn_developers:hover {
  color: #000000;
  background-color: #f6fa24;
  border: 2px solid #f6fa24;
  text-decoration: none;
}

@media (max-width: 768px) {
  .header_home {
    flex-direction: column;
  }
  .developers {
    flex-direction: column;
  }
  .section_container_buttons_developers {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

/* Cambiar color del texto "Nuestro equipo" */
.nuestro_equipo {
  color: #fd3c8d;
}

/* Cambiar color del texto del párrafo del equipo */
p.descripcion_equipo {
  color: #ffffff;
}
