{% extends "layout.html" %}
{% block content %}

<!-- Enumerated list (table with two columns) -->
<div class="business">
  <div class="box_table2" style="height: 250px">
    <div class="h1 mb-3" style="text-align: center">
      <i class="fa-solid fa-globe"></i>
    </div>
    <h4 style="text-align: center">Nuestros objetivos</h4>
    <p class="text-center">
      Fomentar el aprendizaje del idioma español de manera divertida, interactiva y efectiva, 
      desarrollando habilidades lingüísticas fundamentales en los niños, mientras se promueve 
      su curiosidad y amor por el aprendizaje. 
    </p>
  </div>
  <div class="box_table2" style="height: 250px">
    <div class="h1 mb-3" style="text-align: center">
      <i class="fa-solid fa-hand-holding-heart"></i>
    </div>
    <h4 style="text-align: center">Nuestros Valores</h4>
    <p class="text-center">
      Educación de calidad<br>
      Inclusividad<br>
      Innovación<br>
      Aprendizaje dinámico
    </p>
    
  </div>
</div>
</section>

<!-- Header -->
<section class="section_header_business">
  <div class="flex-container">
    <div class="header">
      <div class="box">
        <h1 style="font-size: 60px">
          <span class="text-logo"> ¿Qué es Verbolé?</span>
        </h1>
        <p style="text-align: left">
          “VERBOLÉ” es una aplicación interactiva y gamificada que enseña español a niños de forma divertida y personalizada. 
          La app combinará juegos, videos, canciones y actividades visuales para fomentar la participación activa y el aprendizaje 
          efectivo del idioma, adaptándose al nivel y progreso de cada usuario. 
        </p>

        <h1 style="font-size: 35px">
          <span class="text-logo"> Nuestro modelo de negocio</span>
        </h1>
        <p style="text-align: left">
          El creciente interés por aprender español a nivel global, especialmente entre familias que buscan enriquecer el 
          desarrollo educativo de sus hijos, impulsa la creación de una herramienta accesible y atractiva. 
          Además, se busca cerrar la brecha en el acceso a recursos educativos inclusivos y modernos, brindando a los niños 
          una experiencia que combine tecnología, entretenimiento y aprendizaje significativo.
        </p>
      </div>
     
      <div class="box">
        <img
          src="https://upload.wikimedia.org/wikipedia/commons/9/9a/Flag_of_Spain.svg"
          width="325"
          height="325"
          alt=""
        />
      </div>
    </div>
  </div>
</section>

{% endblock content %}
